<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ENABLE_TCP_CONNECTION" value="false" />
    <add key="RFA_TCP_HOST" value="localhost" />
    <add key="RFA_TCP_PORT" value="2500" />
    <add key="DATA_REPORT_DIRECTORY" value="C:\Test" />
    <add key="MSSQL_DB1_CONNECTION_STRING" value="Server=<SERVER>;Database=TESTDB1;User Id=<username>;Password=<password>;Trusted_Connection=true;Connection Timeout=5" />
    <add key="MSSQL_DB2_CONNECTION_STRING" value="Server=<SERVER>;Database=TESTDB2;User Id=<username>;Password=<password>;Trusted_Connection=true;Connection Timeout=5" />
    <add key="MSSQL_DB3_CONNECTION_STRING" value="Server=<SERVER>;Database=TESTDB3;User Id=<username>;Password=<password>;Trusted_Connection=true;Connection Timeout=5" />
    <add key="MSSQL_CONNECTION_STRING" value="Server=<SERVER>;Database=TESTDB;User Id=<username>;Password=<password>;Trusted_Connection=true;Connection Timeout=5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
